body {}


/* contact */

#contact {
  border: 2px solid #282e3c;
  color: #fff;
  background-color: #282e3c;
  padding: 10px 0;
}

.contact-left span {
  padding-left: 30px;
}

.contact-left .fa {
  color: #f8bf2a;
  padding: 0px 10px;
}

.contact-right {
  padding-right: 30px;
}

.contact-right .fa {
  color: #f8bf2a;
}


/* navbar  */

#navbar {
  border-radius: none!important;
  background-color: #fff;
  border: none;
  padding: 20px 50px;
  color: #282e3c;
}

#navbar a {
  font-weight: 700;
  color: #282e3c;
}

#navbar a:hover {
  background-color: gray;
}


/* slick-carousel */

.main-text {
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: #FFF;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-clear {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px;
}

.btn-clear:hover {
  color: #000;
  background-color: #FFF;
}

#slick .col-md-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.form-tour {
  background-color: #474a5152;
}

#form {
  max-width: 940px;
}

form {
  display: inline-block;
}

.location {
  max-width: 260px;
}

.date {
  max-width: 150px;
}

.bot-text {
  position: absolute;
  bottom: 100px;
  width: 96.66666666666666%;
  color: #FFF;
}


/* note-location */

#note img {
  width: 100%;
  height: 200px;
}

#note .col-md-6 {
  padding: 0 0;
}

#note .text-center h3 {
  margin: 0px;
}

#note .text-center {
  padding: 22.5px 0px;
}

#note .text-center p {
  color: #aabf7e;
  font-weight: bold;
  margin-top: 10px;
}


/* thumbnail    tip & trick */

#thumbnail {
  padding: 100px 0;
  background-color: #f1f4f9;
}

.cost-money {
  position: relative;
}

.images {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 10%;
  right: 0%;
}

.thumbnail h2 {
  color: #74ad18;
  font-weight: bold;
  font-size: 20px;
}

.thumbnail h4 {
  color: #73726d;
  font-weight: bold;
}

.thumbnail button {
  border-radius: 50px 20px;
}

.tieude {
  font-weight: bold;
}

.fa-lightbulb-o {
  border-radius: 50%;
  background: #e8ca17;
  color: white;
  padding: 5px 9px;
  width: 25px;
  height: 25px;
}

.thumbnail-header {
  text-align: center;
}

.thumbnail-header p {
  padding-bottom: 20px;
}

.thumbnail-header hr {
  width: 40px;
  border-color: #74ad18;
  border-width: 3px;
}


/* why chose us */

#us {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #282E3C;
  color: white;
  width: 100%;
}

.us-title {
  padding: 10px 0px;
}

#us span {
  background: #74ad18;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  padding: 10px;
}

#us hr {
  text-align: center;
  width: 50px;
  border-color: #74ad18;
  border-width: 3px;
}

#us h2 {
  font-weight: bold;
  text-align: center;
}

.us-td {
  color: #F6C133;
  font-weight: bold;
}

.us-t {
  color: #adad8d;
}


/* exclusive holiday */

#mid {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: url(../images/see.jpg);
  background-size: 100% 100%;
}

#mid h2 {
  color: white;
  margin-bottom: 50px;
  font-weight: bold;
}

.img-mid {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}


/* about us */

.about-left hr {
  width: 50px;
  margin-left: 0px;
  border-color: #F6C133;
  border-width: 3px;
}

.about-left {
  background: #86b835;
  padding-bottom: 100px;
  padding-top: 100px;
}

.about-left h2 {
  color: white;
  font-weight: bold;
}

.about-left p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-right hr {
  width: 100px;
  margin-left: 20px;
  border-color: #86b835;
  border-width: 3px;
}

.about-right h2 {
  font-weight: bold;
  margin-top: 100px;
}

.about-right p {
  margin-top: 30px;
}

.about-right h5 {
  color: #86b835;
  font-size: 20px;
}

.about-right h6 {
  color: #adad8d;
}

#about-us .container-fluid {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}


/* popular contries */

#popular {
  padding: 100px 0px;
}

#popular .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

#contro .carousel-control {
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
  background-color: #9fcb50;
}

#contro .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

.carousel-indicators li {
  background: #cecece;
}

.carousel-indicators .active {
  background: #428bca;
}

#popular .col-md-3 {
  position: relative;
}

#popular .col-md-3 img {
  min-height: 250px;
}

#popular .text {
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  position: absolute;
  top: 80%;
  left: 50%;
}

#popular .text-center {
  font-size: 24px;
}

#popular .text-center hr {
  width: 40px;
  border-color: #74ad18;
  border-width: 3px;
}


/* footer */

#end {
  background: #282E3C;
  padding-top: 100px;
  padding-bottom: 100px;
}

#end img {
  margin-top: 10px;
}

#end .col-md-3 {
  color: white;
}

.adree i {
  padding-right: 10px;
  color: #fbc11ef5;
  font-size: 20px;
}

#end .contact .fa {
  border-radius: 50%;
  background-color: #78797d;
  color: #282e3c;
  font-size: 12px;
  width: 20px;
  padding: 4px
}